<h1>Projects#index</h1>
<p>Find me in app/views/projects/index.html.erb</p>
<% @projects.each do |p| %>
<p><%= p.name_pt %></p>
<p><%= p.name_en %></p>
<p><%= p.year %></p>
<p><%= p.category %></p>
<p><%= p.director %></p>
<% end %>
